*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  body{
    background: linear-gradient(90deg, #7eb5df 0%, #4359ab 100%);
  }

  .wrapper{
    background: linear-gradient(90deg, #e6e9e1 0%, #ececed 100%);
    max-width: 405px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 25px;
  }

  .task-input{
    height: 52px;
    position:relative;
  }

  .task-input img{
    position: absolute;
    top : 20%;
    left: 2%
  }

  .task-input input{
    height: 100%;
    width: 100%;
    padding: 0 10px 0 45px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid;
  }

  .task-input input::placeholder{
    color: rgb(197, 168, 168);
  }

  .controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .controls{
    padding: 20px 10px;
    border-bottom: 1px solid gray ;
  }

  .filters span{
    margin: 0 7px;
    font-size: 16px;
    color: #444444;
    cursor: pointer;
  }

  .filters span:first-child{
    margin-left: 0;
  }
  .filters span.active{
    color: #3C87FF;
    font-size: 18px;
    font-weight: 100;
  }

  .clear-btn{
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 7px 7px;
    border-radius: 4px;  
    background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
  }

  .clear-btn:active{
    transform: scale(0.935);
  }

  .task-box{
    margin-top: 20px;
    margin-right: 5px;    
  }

  .task-box .task{
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #5e4b4b;
  }
  .task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }

  .task label p.checked{
   text-decoration: line-through;
   color: #b0c092;
  }


  .task-box .task label{
    display: flex;
    align-items: flex-start;
  }

  .task label input{
    margin-top: 5px; 
  }

  .task label p{
    margin-left: 12px;
    word-wrap: break-word;
  }


  .settings :where(i, li){
    cursor: pointer;
  }

  .task .settings{
    position:relative;
  }

  
  .settings .task-menu{
    z-index: 1;
    right: -70px;
    left: -20px;
    padding: 5px 0;
    transform: scale(0);
    position: absolute;
    border-radius: 4px;
    background-color: #f7f8f4;
    transition: transform 0.3s ease;
    transform-origin:top left;
  }

  .settings:hover .task-menu{
    transform: scale(1);
  }
  
  .task-menu li{
    height: 25px;
    font-size: 16px;
    padding: 17px 15px;
    justify-content:flex-start;
  }

  .task-menu li:last-child{
    margin-bottom: 0px
  }

  .task-menu li:hover{
    background-color:#d9dfcd;
  }

  .task-menu li i{
    padding-right: 8px;
  }


  span{
    color: #a2b978;
    font-size:medium;
  }